<%= form_for(@picture_story) do |f| %>
  <div class="content-wrapper">
    <%= f.text_field :title, class: 'title-fields', placeholder: 'タイトル' %>
    <%= f.fields_for :picture_story_orders do |order, index| %>
      <%= render 'picture_stories/picture_story_order_fields', f: order %>
    <% end %>
    <div class="fields">
      <%= link_to_add_association '話を追加', f, :picture_story_orders, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent add-association' %>
    </div>
    <%= f.submit '投稿', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored submit-btn' %>
  </div>
<% end %>
