<%= form_for(@picture_story) do |f| %>
  <%= f.text_field :title, placeholder: 'タイトル' %>
  <%= f.fields_for :picture_story_orders do |order| %>
      <%= render 'picture_stories/picture_story_order_fields', f: order %>
  <% end %>
  <div class="field">
    <%= link_to_add_association '話を追加', f, :picture_story_orders %>
  </div>
  <%= f.submit '投稿' %>
<% end %>
