<div class="container">
  <h3><%= @picture_story.title %></h3>
  <div class="main-carousel">
    <% @picture_story.picture_story_orders.each do |order| %>
      <div class="carousel-cell">
        <p><%= order.story %></p>
        <% if order.image? %>
          <% path = order.image.gsub(/[\s\/]/, '') %>
          <%= image_tag path %>
        <% end %>
      </div>
    <% end %>
    <div class="carousel-cell">
      <p class="finish-title">これでストーリーはおしまいです。</p>
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title more-story">
          <h2 class="mdl-card__title-text">Pixiv Story</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to "他のストーリーも見てみる", picture_stories_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div>
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title create-story">
          <h2 class="mdl-card__title-text">Pixiv Story</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to "自分でストーリーを作ってみる", new_picture_story_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
$(document).ready(function () {
  var height = screen.availHeight
  $('.container').css("height", height * 0.95 + "px")
  $('.carousel-cell').css("height", (height - 50) + "px")
  $('.main-carousel').flickity({
    cellAlign: 'left',
  });
});
<% end %>
