<div class="container">
  <h3><%= @picture_story.title %></h3>
  <div class="main-carousel">
    <% @picture_story.picture_story_orders.each do |order| %>
      <div class="carousel-cell">
        <p><%= order.story %></p>
        <% if order.image? %>
          <% path = order.image.gsub(/[\s\/]/, '') %>
          <%= image_tag path %>
        <% end %>
      </div>
    <% end %>
    <div class="carousel-cell">
      <h2>これでこのストーリーは終わりです！</h2>
      <%= link_to "他のストーリーを見る", picture_stories_path %>
      <br/>
      <%= link_to "自分でストーリーを作る", new_picture_story_path %>
    </div>
  </div>
</div>
