<h1>検索結果</h1>
<p><%= @text %></p>

<h2>取得数: <%= @response.size %></h2>
<div>
  <% @response.each do |work| %>
  <ul>
    <li><%= work['title'] %></li>
    <li><%= work['image_urls'] %></li>
    <li><%= work['created_time'] %></li>
  </ul>
  <% end %>
</div>